ul li{
    list-style: none;
    display: inline-block;
}
a,li{
    text-decoration: none;
    color: gray;
}
footer .foot-main{
    background: lightgray;
    height: 200px;
}
footer .foot-main .left{
    width: 60%;
    display: inline-block;
    text-align: center;
}
footer .foot-main .left .left-top{
    margin-top: 50px;
    display: inline-block;
}
footer .foot-main .left .left-top .btncnt{
    display: inline-block;
    width:130px;
    height: 46px;
    font-size: 12px;
    background-color: white;
    border-radius: 42px;
    border: 1px solid #eee;
    position: relative;
}
footer .foot-main .left-bottom li{
    text-indent: 10px;
}
footer .foot-main .left .left-top li .footItem{
    position: absolute;
    top:10px;
}
footer .foot-main .middle{
    padding-top: 36px;
    width: 15%;
    float: right;
    background-image: url(footerimg/phone.png);
    background-repeat: no-repeat;
    background-position: 50% 22px;
   
}
footer .foot-main .middle p{
    text-align: center;
}
footer .foot-main .middle img{
    margin: 0 auto;
    display: block;
}
footer .foot-main .right{
    width: 25%;    
    float: right;
}
footer .foot-main .right #tel a{
    color: orange;
    font-weight: bold;
    font-size: 1.2em;
}
footer .bottom{
    background: black;
    color: white;
    text-align: center;
}
footer .bottom p{
    margin:0px;
}