a,li{
    text-decoration: none;
    color: gray;
    font-size: 0.8em;
}
.fontsize{
    font-size: 0.6em;
}
header{
    width: 80%;
    margin: 20px auto;
    height: 92px;
}
    .headLeft{
    float: left;
    }
    .UL{
    float: right;
    }
section{
    width: 80%;
    height: 500px;
    margin: 0 auto;
}
section .left-img{
        width: 50%;
       float:left;
       
    }
   section .left-img img{
        border-right: 1px solid rgba(0,119,192,0.2);
    }
 .sec-right{
        width: 48%;
        float: right;
        
    }
  .rig-content{
            padding:28px;
            text-align: center;
        }
  .rig-content p{
                    width: 76%;
                    text-align: right;
                    font-size: 0.8em;
                }

        .login input{           
            display: block;
            margin: 0 auto;
            line-height: 2;
            margin-bottom: 29px;
            border-radius: 8px;
            width: 50%;
            border: 1px solid;
        }
        
       
        .login input[name="id"]{
            background-image: url(lab2img/id.png);
            background-repeat: no-repeat;
            background-position-y: 40%;
        }
        .login input[name="password"]{
            background-image: url(lab2img/password.png);
             background-repeat: no-repeat;
             background-position-y: 40%;
        }
        .login input:focus{
            border: 1px solid;
            border-radius: 8px;
        }
        .login button{
            width: 34%;
            border: none;
            background-color: rgba(0,119,192,1);
            height: 30px;
            margin-right:21px;
            color: white;
        }



        .rig-content .shuru input[name=yzm]{
            width: 23%;
        }
       .register form{
            text-align: right;
            padding-right: 123px;
            line-height: 2.5;
        }
         .rig-content .shuru input{           
            
            margin: 0 auto;
            line-height: 2;
            margin-bottom: 0px;
            border-radius: 8px;
            width: 50%;
            border: 1px solid;
        }
        .bluebtn{
            width: 136px;
            height: 30px;
            color: white;
            background-color: rgba(0,119,192,1);
            border: none;
        }
       
        .graybtn{
        height: 30px;
        border: none;
        color: gray;
        padding: 9px;
        border-radius: 5px;
}
       