
ul li{
    list-style: none;
    display: inline-block;
}
a{
    text-decoration: none;
    color: gray;
}
.top{
    margin-top:-13px;
    background: lightgray;
    font-size: 13px;
    height: 25px;
    color: gray;
    /*position: relative;*/
}

.top ul{
    display: block;
    margin: 0 auto;
    margin-top: 0px;
    width: 80%;
    margin-top: 13px;
}
.top .top-left{
    float: left;
    text-indent: 12px;/*缩进*/
}
.top .top-right{
    float: right;
    margin-right: 20px;
}
header{
    border-bottom: 2px solid rgba(0,160,222,1);;
    font-size: 0.8em;
}
.header-content{
    width: 80%;
    position:relative;
    margin: 0 auto;
    
}
header .head{
     
    margin-top: 30px;
    
}
header .head input{
    position: relative;
    top: -14px;
    left: 56px;/*相对原位置定位*/
    width: 28%;
    height: 30px;
    border-radius: 20px;
    border: 1.5px solid rgba(0,160,222,1);
    background-image: url(lab1img/mark_search_05.png);
    background-repeat: no-repeat;
    background-position: right;
}
header .head ul{
    display: inline-block;
    float: right;   
}
header .head ul li .bglogo{
    display: inline-block;
    background-image: url(lab1img/mark.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
header .head ul li .item{
    display: inline-block;
}
header .head ul li .item .slogan{
    display: block;
}
header .head ul li #tu1{
    background-position:0px 0px; /*要显示的区域坐标，左上角为原点*/
}
header .head ul li #tu2{
    background-position:0px -40px;
} 
header .head ul li #tu3{
    background-position:0px -80px; 
}
header .nav{
    height: 25px;
}
header .nav a{
    font-size: 1em;
    color: gray;
}
header .nav ul{
    margin-bottom: 0px;
}
header .nav a:hover{
    border-bottom: 3px solid rgba(0,160,222,1);;
    color: black;
}
header .nav .nav-left{
    float: left;
}
header .nav .nav-left .active{
    border-bottom: 9px solid rgba(0,160,222,1);;
}
header .nav .nav-right{
    position: absolute;
    right: 0px;
    
}
header .nav span{
    display: inline-block;
    background-image: url(lab1img/mark_nav.png);
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
}

header .nav .nav-right #tu4{
    background-position:0px -22px;
}
header .nav .nav-right #tu5{
    background-position:0px -66px;
}
header .nav .nav-right a:hover #tu4{
     background-position:0px 0px;
}
header .nav .nav-right a:hover #tu5{
     background-position:0px -44px;
}
section{
    background: whitesmoke;
}
section .secontent{
    width: 80%;
    height: 700px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.08);
    border-radius: 4px;
    border: 1px solid #eee;
}
section .secontent .info{
    padding-top: 20px;
    display: inline-block;
    width: 30%;
    border: 1px solid #eee;
}
section .secontent .info .toux img{
    width: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
section .secontent .info .toux p{
     text-align: center;
}
section .secontent .info ul li{
    display: block;
    width: 100%;
     height: 40px;
     margin: 0 auto;
    border: 1px solid #eee;
}
section .secontent .info ul li span{
    display:inline-block;
    background-image: url(lab1img/icon.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
section .secontent .info ul li .infoitem{
    margin: 0 auto;
    text-align: center;
    height: 100%;
    position: relative;
}
section .secontent .info ul li .infoitem a{
    position: absolute;
    top:10px;
    right: 107px;
    
}
section .secontent .info ul li .infoitem span{
    position: absolute;
    top:10px;
    left: 28%;
}
section .secontent .info ul li .infoitem:hover{
    color: white;
    background-color:rgba(0,160,222,1); 
}
section .secontent .info ul li .infoitem:hover a{
    color: white;
   
}
section .secontent .info ul li .infoitem:hover #tu6{
    background-position:0px -240px;  
}
section .secontent .info ul li .infoitem:hover #tu7{
    background-position:0px -280px;  
}
section .secontent .info ul li .infoitem:hover #tu8{
    background-position:0px -320px;  
}
section .secontent .info ul li .infoitem:hover #tu9{
    background-position:0px -360px;  
}
section .secontent .info ul li .infoitem:hover #tu10{
    background-position:0px -400px;  
}
section .secontent .info ul li .infoitem:hover #tu11{
    background-position:0px -440px;  
}
section .secontent .info ul li #tu6{
    background-position:0px 0px;
}
section .secontent .info ul li #tu7{
    background-position:0px -40px;
}
section .secontent .info ul li #tu8{
    background-position:0px -80px;
}
section .secontent .info ul li #tu9{
    background-position:0px -120px;
}
section .secontent .info ul li #tu10{
    background-position:0px -160px;
}
section .secontent .info ul li #tu11{
    background-position:0px -200px;
}
section .secontent .address{
    padding-top: 20px;
    width: 68%; 
    float: right;
}
section .secontent .address hr{
   width: 99%;
    background-color: yellow;
    border: 1px solid yellow;
}
section .secontent .address ul li{
    display: block;
}
section .secontent .address ul .addressDetail{
    border: 1px solid #eee;
    padding: 8px;
}
section .secontent .address ul .addressDetail:hover{
    background-color:#eee;
}
section .secontent .address ul li .addressFunc{
    display: inline-block;
    float: right;
}
section .secontent .address ul li .addressFunc a{
    color: rgba(0,160,222,1);
    font-size: 0.8em;
}
section .secontent .address button{
    color: white;
    background-color: rgba(0,160,222,1);
    height: 32px;
    border: none;
}
