
ul li{
    list-style: none;
    display: inline-block;
}
ul li a{
    text-decoration: none;
}
.top{
    margin-top:-13px;
    background: lightgray;
    font-size: 13px;
    height: 25px;
    color: gray;
    /*position: relative;*/
}

.top ul{
    /*position: absolute;
    /*top:50%;*/
    /*transform: translateY(-50%);*/
}
.top .top-right{
    float: right;
    margin-right: 20px;
}
header .head{
    width: 90%;
    margin: 20px auto;
    font-size: 13px;
}
header nav{
    font-size: 16px;
}
header nav .top-right{
    float: right;
}
header .head input{
    width: 28%;
    height: 30px;
    border-radius: 20px;
    border: 1.5px solid #337ab7;;
    background-image: url(lab1img/mark_search_05.png);
    background-repeat: no-repeat;
    background-position: right;
}
header .head ul{
    display: inline;
}
header .head ul li span{
    display: inline-block;
    background-image: url(lab1img/mark.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
header .head ul li #tu1{
    background-position:0px 0px; /*要显示的区域坐标，左上角为原点*/
}
header .head ul li #tu2{
    background-position:0px -40px;
} 
header .head ul li #tu3{
    background-position:0px -80px; 
}
header nav ul li span{
    display: inline-block;
    background-image: url(lab1img/mark_nav.png);
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
}
header nav ul li #tu4{
    background-position:0px -22px;
}
header nav ul li #tu5{
    background-position:0px -66px;
}
header{
    border-bottom: 2px solid #337ab7;;
}
section{
    background: whitesmoke;
}
section .secontent{
 width: 70%;
 height: 700px;
 margin: 0 auto;
 background: white;
 box-shadow: 0 10px 20px 0 rgba(0,0,0,0.08);
    border-radius: 4px;
    border: 1px solid #eee;
    margin-bottom: 30px;
    margin-top: 20px;
}
section .secontent .info{
    padding-top: 20px;
    display: inline-block;
    width: 30%;
    border: 1px solid #eee;
}
section .secontent .info .toux img{
    width: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
section .secontent .info .toux p{
     text-align: center;
}
section .secontent .info ul li{
    display: block;
    width: 100%;
     height: 40px;
     margin: 0 auto;
    border-bottom: 1px solid #eee;
}
section .secontent .info ul li span{
    display:inline-block;
    background-image: url(lab1img/icon.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
section .secontent .info ul li #tu6{
    background-position:0px 0px;
}
section .secontent .info ul li #tu7{
    background-position:0px -40px;
}
section .secontent .info ul li #tu8{
    background-position:0px -80px;
}
section .secontent .info ul li #tu9{
    background-position:0px -120px;
}
section .secontent .info ul li #tu10{
    background-position:0px -160px;
}
section .secontent .info ul li #tu11{
    background-position:0px -200px;
}
section .secontent .address{
    padding-top: 20px;
    width: 68%; 
    float: right;
}
section .secontent .address hr{
   width: 99%;
    background-color: yellow;
    border: 1px solid yellow;
}
section .secontent .address ul li{
    display: block;
}
section .secontent .address button{
    color: white;
    background-color: #337ab7;
}
footer .foot-main{
    background: lightgray;
    height: 200px;
}
footer .foot-main .left{
    width: 60%;
    display: inline-block;
}
footer .foot-main .left ul{
    margin-top: 50px;
    display: inline-block;
}
footer .foot-main .left .left-top li{
    display: inline-block;
    width:130px;
    font-size: 12px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #eee;
    
}
footer .foot-main .middle{
    width: 18%;
    
    float: right;
}
footer .foot-main .right{
    width: 20%;
    
    float: right;
}
footer .bottom{

    background: black;
    color: white;
    text-align: center;
}