BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "ו"; COLOR: #845b28; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.fontblack {
	LINE-HEIGHT: 23px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.fontred {
	LINE-HEIGHT: 23px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #cd0608; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.content {
	LINE-HEIGHT: 23px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #845b28; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.title {
	LINE-HEIGHT: 25px; FONT-FAMILY: "ו"; COLOR: #99713e; FONT-SIZE: 16px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.fenlei {
	TEXT-ALIGN: center; LINE-HEIGHT: 31px; WIDTH: 186px; DISPLAY: block; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND: url(../%E5%BF%AB%E9%A4%90%E9%85%8D%E9%80%81%E8%90%A5%E5%85%BB%E5%BF%AB%E9%A4%90%E5%8C%97%E4%BA%AC%E5%BF%AB%E9%A4%90%E5%8C%97%E4%BA%AC%E8%BF%9C%E6%98%8A%E9%98%B3%E5%85%89%E9%A4%90%E9%A5%AE%E6%9C%89%E9%99%90%E8%B4%A3%E4%BB%BB%E5%85%AC%E5%8F%B81_files/images/fenleibg.jpg); FLOAT: left; HEIGHT: 31px; COLOR: #99713e; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.fenlei:hover {
	COLOR: #000000
}
A.news {
	LINE-HEIGHT: 25px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #845b28; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.news:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
.border-b-dashed {
	BORDER-BOTTOM: #ccc5a2 1px dashed
}
.border-r-b {
	BORDER-BOTTOM: #ccc5a2 1px dashed; BORDER-RIGHT: #ccc5a2 1px dashed
}
